body {  
    background-color: rgb(246, 246, 122);  
}  
marquee
{
    color: red;
    font-family: arial;
    font-size: 2.0em;
font-weight: bolder;
}

 h1 {  
    color: navy;  
    margin-left: 20px;  
     }   
   
summary{
    color: red;
    font-family: arial;
    font-size: 2.0em;
font-weight: bolder;
}
h3 {
color: red;

 font-size: 150%;
  }
  
.topnav a {

display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}
button a{
text-decoration: none;
}






